<%

block = view(:layout, :block).new

new_button = view(:component, :button).new(title: 'Create new client',
url: lato_clients.new_client_path, size: :small)

searchbar = view(:component, :searchbar).new(elements: @search_clients,
            url: lato_clients.clients_path, filter: 'name_cont',
            style: :rounded, remote: false)

actionbar = view(:layout, :actionbar).new(title: "Clients", widgets: [
    {component: new_button, align: :right},
    {component: searchbar, align: :left}
  ])

index = view(:layout, :index).new(head: ['Name'], elements: @clients, attributes: [:name],
link: lato_clients.clients_path, show_link: true, edit_link: true, delete_link: true)

%>

<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

      <%=raw index %>

      <%= will_paginate @clients,  previous_label: '←',  next_label: '→' %>

  <%=raw block.close %>
</div>
